.LoginForm {
  padding: 30px;

  .MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 15px;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: black;
  }

  .Mui-focused fieldset {
    border-color: #eb5757 !important;
  }
}
